

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdminPanel.cshtml";
}


<table class="table table-bordered">
    <tr style="background-color:#808080; border-top-color:yellow; border-inline-color:yellow; border-color:yellow; color:black; font-size:larger">
        <td>ID</td>
        <td>Başlık</td>
        <td>Link</td>
        <td>İŞLEM</td>
    </tr>

    @foreach (var x in Model)
    {
        <tr style="font-size:medium">
            <th>@x.ID</th>
            <th>@x.BASLIK</th>
            <th style="color:#468ce2">@x.LINK</th>
            <th>
                <a href="/AdminLinkler/Sil/@x.ID" class="btn btn-danger">SİL</a>
            </th>
        </tr>
    }



</table>
<a href="/AdminLinkler/YeniLink" class="btn btn-primary">EKLE</a>

